# Prerequisites
*.d

# Compiled Object files (not 3D models)
*.slo
*.lo
*.o
*.obj

# 3D Model files (allow OBJ files in Assets folder)
!Assets/**/*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CodeQL temporary files
_codeql_*
